<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog>
    <targets>
      <target name="debug" type="File" filename="logs/camel.net.log" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="debug" />
    </rules>
  </nlog>
</configuration>
